.bel-slip-container {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.ball-container {
    display: flex;
    justify-content: start;
    column-gap: 10px;
    margin-bottom: 10px;
    &__ball {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &--red{
            background-color: red;
        }
        &--green{
            background-color: green;
        }
        &--yellow{
            background-color: yellow;
        }
        &--skyblue{
            background-color: skyblue;
        }
        &--blue{
            background-color: blue;
        }
    }
}

.title {
    margin-bottom: 10px;
}

.clear-selection {
    margin-top: 30px;
}

.win-message {
    color: green;
    &--lose {
        color: red;
    }
    
}