<div class="bel-slip-container">
    <ng-container *ngIf="!winner">
        <div class="title">
            Numbers
        </div>
        <app-ball [balls]="balls" (selectBall)="selectBall($event)" size="xl"></app-ball>
        <a href="" class="clear-selection">Clear selection</a>
    </ng-container>
    <ng-container *ngIf="winner">
        <div class="title">
            Result
        </div>
        <div class="ball-container">
            <span  class="ball-container__ball" 
            [ngClass]="getColorClass(ball?.color)">{{ball?.id}}</span>
        </div>
        <div class="win-message">
            YOU WON <span [ngClass]="{'win-message--lose': winner.amount < 0}">{{winner.amount}}$</span>
        </div>
        <a href="" class="clear-selection">Play Again!</a>
    </ng-container>
</div>