.main-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;

    .left-container {
        min-width: 500px;
        width: 800px;
        margin-top: 20px;
        border-radius: 16px;
    }
    .right-container {
        min-width: 300px;
        width: 400px;
        margin-top: 20px;
        border-radius: 16px;
    }
}