<div class="main-container">
    <div class="left-container">
        <app-bet-slip (ballSelected)="setUserSelection($event)" [winner]="winner"></app-bet-slip>
    </div>
    <div class="right-container">
        <app-ball-selector [setBall]="selectedBall" (confirmBet)="setWiner($event)"></app-ball-selector>
    </div>
</div>