.ball-container {
    display: flex;
    justify-content: start;
    column-gap: 10px;
    row-gap: 5px;
    flex-wrap: wrap;
    &__ball {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: gray;
        &--red{
            background-color: #FF7F7F;
        }
        &--green{
            background-color: #90ee90;
        }
        &--yellow{
            background-color: yellow;
        }
        &--skyblue{
            background-color: skyblue;
        }
        &--blue{
            background-color: #276b80;
        }
        &--xl {
            width: 60px;
            height: 60px;
        }
    }
}