<div class="ball-container">
    <span *ngFor="let b of balls;" (click)="setBall(b)" class="ball-container__ball" [ngClass]="getColorClass(b.color)"  
    [class.ball-container__ball--xl]="size === 'xl'"    
    >{{b.id}}</span>
</div>