.ball-selector-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    height: 300px;
}

.bet-input-container {
    display: flex;
    margin-bottom: 16px;
     &__btn {
        height: 36px;
        background-color: #0080ff;
        border-color: #0080ff;
    }
    &__input {
        height: 30px;
    }
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    height: 100px;
    &__place-bet {
        width: 100%;
        height: 30px;
        background-color: #0080ff;
        border-color: #0080ff;
    }
}