<div class="ball-selector-container">
    <div class="ball-container">
        <app-ball [balls]="selectedBalls"></app-ball>
    </div>
    <div>
        <div class="bet-input-container">
            <form [formGroup]="form">
                <button class="bet-input-container__btn">X{{selectedCount}}</button>
                <input type="text" name="" id="bet-anount" class="bet-input-container__input" [attr.disabled]="!enableSetBet ? '' : null" formControlName="amount">
                <button class="bet-input-container__btn" (click)="setBet()" [disabled]="!enableSetBet">OK</button>
            </form>
        </div>
        <span *ngIf="isValid" class="error-message">
            Bet amount must be greater than $5
        </span>
    </div>
</div>
<div class="resume-container">
    <div class="resume-container__amount">
        ${{betAmount}}
    </div>
    <button class="resume-container__place-bet" (click)="placeBet()" [disabled]="!enableConfirmBet">Place Bet</button>
</div>
